
.headline {
    margin: auto;
    width: 420px;
    background: rgba(210, 210, 210, 0.9);
    color: rgb(14, 15, 15);
    /* color: rgb(0,122,121); */
    margin-top: 100px;
    padding-left: 20px;
    padding-bottom: 1px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 10px rgb(42, 42, 42);
    border: 2px solid rgb(48, 48, 48);

}

.headline>img {
    height: 150px;
}
.headline>.title {
    margin-top: 20px;
}
.headline>.title>h1 {
    color: rgb(26,26,26);   
    font-size: 2.7em;
    font-weight: 500;
    padding-right: 10px;
    margin-bottom: 1px;
    margin-left: 5px;
}


.headline>.title>p {
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 2px;
    color: rgb(52, 52, 52);
}

.headline>.title>p>.boldtext {
    font-weight: bold;
    letter-spacing: 3px;
}

.headline>.title>p>.thicktext {
    margin-left: 20px;
}
