<div class="product-detail">
    <div class="product-detail-header">
        <p style="letter-spacing: 2px;">addition</p>
    </div>
    <div class="product-detail-main">
        <div class="description">
            <div class="dlevel"> <!-- difficulty level-->
                <div>
                    <img src="assets\images\weight.png" alt="weight">
                    <p>Light</p>
                </div>

                <div>
                    <img src="assets\images\people.png" alt="people">
                    <p>2-4</p>
                </div>

                <div>
                    <img src="assets\images\clock.png" alt="clock">
                    <p>30-60 minutes</p>
                </div>
            </div> 

            <div class="gallery">
                <div class="main-photo">
                    <img [src]="addition.image[image_num]">
                </div>
                <div style="display: flex; margin-top: 10px; justify-content: center;">
                    <img class="nextImage" style="margin-right: 20px" (click)="left_move(image_num)" src="assets\images\left-arrow.png">
                    <div style="display: flex; justify-content: space-around; gap: 10px">
                        <span [class]="dots[0]" (click)="current_slide(0)"></span>
                        <span [class]="dots[1]" (click)="current_slide(1)"></span>
                        <span [class]="dots[2]" (click)="current_slide(2)"></span>
                    </div>
                    <img class="nextImage" style="margin-left: 20px" (click)="right_move(image_num)" src="assets\images\right-arrow.png">
                </div>
            </div>

            <div class="text">
                <h2>{{addition.name}}</h2>
                <p style="margin: 20px 0 12px 4px">{{addition.price}} KZT</p>
                <div style="margin-bottom: 20px; display: flex;">
                    <button class="buy">buy</button>
                    <a (click)="share()" style="margin: 1px 35px 0 50px;">
                        <div style="display: flex;">
                            <img src="assets\images\share.png" style="width: 20px; align-self: flex-start;">
                            <p>share</p>
                        </div>
                    </a>
                    <div class="likes">
                        <div>
                            <img class="heart" src="assets\images\heart.png">
                            <img class="active-heart" src="assets\images\active_heart.png" (click)="add_likes()">
                        </div>
                        <p>{{addition.like_count}}</p>
                    </div>
                </div>
                
                <p class="description-text">{{addition.description}}</p>
            </div> <!-- text and buttons -->
        </div>
        
    </div>
</div>
