.products {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    
}
/* .products-top {
    display: flex;
    justify-content: center;
}
.products>.products-top>img {
    height: 100px;
} */
/* .products>.products-top>h1 {
    text-align: center;
    color: rgb(0,122,121);   
    padding-right: 10px;
    margin-top: 20px;
} */
.products-header {
    border: 2px solid rgb(48, 48, 48);
    width: 85%;
    height: 60px;
    margin: auto;
    box-shadow: 5px -5px 30px black;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(210,210,210,1) 40%, rgba(210,210,210,1) 50%, rgba(210,210,210,1) 60%, rgba(48,48,48,1) 100%);
    /* background: linear-gradient(90deg, rgba(210,210,210,0.3) 0%, rgba(210,210,210,1) 40%, rgba(210,210,210,1) 50%, rgba(210,210,210,1) 60%, rgba(210,210,210,0.3) 100%);     */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products-header>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    padding-left: 250px;
    margin-top: 10px;
    color:rgb(48, 48, 48);
    flex-grow: 3;
}
.products>.products-main {
    margin: auto;
    width: 84%;
    /*  */
    height: 119.1vh;
    background-color: rgba(210, 210, 210, 0.95);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 8px 3px 8px;
}


.products>.products-main>div {
    display: flex;
    flex-direction: column;
    height: 360px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products-main>div>div {
    border: 2px solid black;
    max-width: 240px;
    height: 250px;
    overflow: hidden;
    margin: 15px auto 0 auto;  
}
.products-main>div>div>img:hover {
    cursor: pointer;
}

.products-main>div>p {
    text-align: center;
}

.find {
    display: flex;
}

.find>input {
    font-size: 20px;

}
