.categories {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 260px;
}
.categories>.title {
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: rgb(71, 71, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.categories>.category-images {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.categories>.category-images>div>img {
    float: left;
    width:  150px;
    transition: transform .2s;

}

.categories>.category-images>div>img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.categories>.category-images>div> {
    display: flex;
    flex-direction: column;
}

.categories>.category-images>div>p {
    margin-top: 180px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#category-background {
    position: absolute;
    top: 90%;
    width: 100vw;
    height: 53vh;
    z-index: -1;
    background-color: rgba(210, 210, 210, 0.95);
    border-top: 2px solid rgb(48, 48, 48);

}
