<div class="product-detail">
    <div class="product-detail-header" style="width: 71%;">
        <p style="letter-spacing: 3px;">about us</p>
    </div>
    <div class="product-detail-main">
        <div class="content">
            <div class="left-text">
                Настольные игры откроют для вас огромнейший развлекательный мир с множеством разнообразных приключений на любую тематику.  В интернет-магазине BGAME store вы найдёте  самые популярные игры по лучшим ценам и для любой аудитории. Вашему вниманию в нашем маленьком, но эксклюзивном ассортименте представлены настольные игры для вечеринок, предназначенные для больших и желательно шумных компаний. Также вы найдёте в нашем каталоге различные настольные ролевые игры, сложные стратегические и хардкорные, коллекционно-карточные и экономические настолки, а также многие другие!
            </div>
            <!-- <div class="right-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, illum. Ullam totam sit qui doloribus aut asperiores enim aliquam. Sint quas incidunt sit! Vitae dignissimos non perferendis, vero magnam ex?
            </div> -->
        </div>
        <div class="contacts">
            <h3>CONTACTS</h3>
            87472655295
            d_masakbai@kbtu.kz
        </div>
    </div>

</div>
