<nav>
  <div class="left-nav">
    <a routerLink="/home" title="home"><img src="assets/images/home.png"></a>
    <a routerLink="/about" title="about"><img src="assets/images/about.png" style="margin-top: 4px"></a>
  </div>

  <div id="logo" *ngIf="!get_homePressed()">
    <img src="assets\images\B_logo.png" alt="logo">
    <h1>game store</h1>
  </div>

  <div class="right-nav">
    <a routerLink="/cart" title="shopping-cart"><img src="assets/images/shopping-cart.png " style="margin-top: 2px"></a>
  </div>
</nav>
<div >

    <div  *ngIf="!logged" class="register">
      <div class="avatar">
        <img src="assets\images\avatar.png" alt="">
      </div>
      <div class="inputs">
        <input type="text" placeholder="username" [(ngModel)] = "username">
        <input placeholder="password" type="password" [(ngModel)] = "password">
      </div>
      <div class="buttons">
        <button (click)="login()">log in</button>
      </div>
      <a href=""></a>
    </div>


  <div *ngIf="logged" class = "logout">
    <button (click)="logout()">Logout</button>
    <router-outlet></router-outlet>
  </div>
</div>
<!--<router-outlet></router-outlet>-->


